div{
    margin: 20px auto;
}
.back{
	background-color: #febd9a;
	width: 1500px;
	height: 500px;
	position: relative;
	padding-top: 10px;
}

.a{
	color: red;
	background-color: #87CEEB;
	border: 2px solid red;
	margin: 30px;
	padding: 10px;
	outline-style: solid;
	outline-width: 4px;
	outline-color: black;
}

.b{
	color: black;
	border-width: 0px 0px thick thick;
	border-style: inset ridge;
	border-color: yellow black;
	margin: 40px 50px 10px 30px;
	padding: 2px 1px 2px 10px;
    outline-style: dashed;
	outline-width: 1px;
	outline-color: black;
	outline-offset: 20px;
	position: absolute;
	top: 110px;
	left: 30px;
}

.c{
	border: 3px solid orange;
	width: 400px;
	height: 250px;
	position: absolute;
	bottom: 20px;
	right: 30px;
}

.d{
	border: 3px solid blue;
	width: 200px;
	height: 270px;
	position: absolute;
	bottom: 10px;
	left: 30px;
}

.e {
    width:1200px;
    height: 511px;  
}